/* Application styles */
.ARButton {
  display: inline-block;
  padding: 5px 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #232323;
  border: 3px solid #A00000;
}

.ARButton:hover {background-color: #161616;
  outline: none;
  color: #fff;
}


.cardtitle {
  background-color: #FFFFFF; 
  display: inline-block;
  padding: 5px 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;  
} 

.table {
     border-collapse: collapse;
}
.table, td, th {
    border: 1px solid black;
}

.header1 {
    color: black;
    font-size: 16px;
  	text-align: center;  

}
.header2 {
    color: black;
    font-size: 20px;
  	text-align: center;  

}
.header3 {
    color: black;
    font-size: 12px;
  	text-align: center;  

}
.Gridlabel {
    color: black;
    font-size: 14px;
  	text-align: center; 
  	color: #A00000;

}
.GridValue2 {
    color: black;
    font-size: 12px;
  	text-align: center; 
  	color: #232323;
}
.tableborder1 {
   border: 2px solid #A00000;
}
.tableborder2 {
   border: 1px solid black;
}
.tableborder3 {
   border: 1px solid black;
}
.tablecontent {
    color: #CC0000;
    font-size: 16px;
  	text-align: center;  

}
.PartsListText {
    color: #CC0000;
    font-size: 12px;
}

.itext {
	color: #CC0000;
    font-size: 16px;
  	text-align: center;  

}
.bkimage {
  background-color: #FFFFFF !important;
} 
.searchbox {
  background-color: #232323 !important;
} 

.SeqButton {
  display: inline-block;
  padding: 1px 3px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #232323;
  border: 3px solid #A00000;
}

 
/* Application styles */
button.activateButton
{
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
}

.my-button
{
  border-radius: 50%;
  opacity: 0.6;
}

.targetMark
{
  position: fixed;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.6;
  transform: translate(-50%,-50%);
}

.part-card
{
  overflow: visible;
  margin: 15px 15px 15px 15px;
}

.my-label
{
  background-color: Transparent;
}  

.part-header
{
  background-color: Transparent;
}  

.value-display
{
  background-color: Transparent;
}

span.item-note
{
  color: black;
}

.semi-transparent
{
  background-color: rgba(255, 255, 255, 0.6);
}

.my-border
{
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.4);
}

.my-scrollable
{
  overflow-y: auto;
}

.my-text-wrap
{
  overflow-x: initial !important;
}
  
.part-doc
{
  margin: 35px 35px 35px 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: auto;
}

.toc-panel
{
  margin: 15px 15px 15px 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.toc-grid
{
  width: 100%;
  height: 100%;
}

.tocitem-title-label
{
  height: 100%;
  width: 100%;
}

.toc-icon
{
/*
  max-width:50px;
  max-height:50px;
*/  
  object-fit: contain;
  display: block;
}

div.repeater-cell
{
  background-color: Transparent;
}

div.repeater-cell.selected
{
  background-color: rgba(128, 128, 128, 0.25);
}

div#pdfArea
{
}

div.doc-placeholder {
  font-size: 36px;
  font-style: italic;
  line-height: 1.5;
}
  



