/* Application styles */
/* Application styles */
button.activateButton
{
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
}

.my-button
{
  border-radius: 50%;
  opacity: 0.6;
}

.targetMark
{
  position: fixed;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.6;
  transform: translate(-50%,-50%);
}

.body [widget-id="Part-panel"] 
{
  position: absolute;
  right: 0px;
}  

.part-card
{
  overflow: hidden;
  margin: 15px 15px 15px 15px;
}

.my-label
{
  background-color: Transparent;
}  

.part-header
{
  background-color: Transparent;
}  

.value-display
{
  background-color: Transparent;
  width: 100%;
}

span.item-note
{
  color: black;
}

.semi-transparent
{
  background-color: rgba(255, 255, 255, 0.6);
}

.my-border
{
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.4);
}

.my-scrollable
{
  overflow-y: auto;
}

.my-text-wrap
{
  overflow-x: initial !important;
}
  
.body [widget-id="Doc-panel"] 
{
  position: absolute;
  left: 0px;
}  

.part-doc
{
  margin: 35px 35px 35px 35px;
  overflow: auto;
}

.part-grid
{
  width: 100%;
  height: 100%;
}

.body [widget-id="TOC-panel"] 
{
  position: absolute;
  left: 0px;
}  

.toc-panel
{
  margin: 15px 15px 15px 15px;
  overflow: hidden;
}

.toc-grid
{
  width: 100%;
  height: 100%;
}

.tocitem-title-label
{
  height: 100%;
  width: 100%;
}

.toc-icon
{
/*
  max-width:50px;
  max-height:50px;
*/  
  object-fit: contain;
  display: block;
}

div.repeater-cell
{
  background-color: Transparent;
}

div.repeater-cell.selected
{
  background-color: rgba(128, 128, 128, 0.25);
}

div#pdfArea
{
}

div.doc-placeholder {
  font-size: 36px;
  font-style: italic;
  line-height: 1.5;
}
